<div class="container" *ngIf="producto$ | async as producto; else loading">
<!--   <div class="card">
    <div class="card-header">
      <div class="row row-cols-5">
        <div class="col">
          <h1 class="card-title">{{ producto.nombre }}</h1>
          {{ producto.categoria }}
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="row">
            <a href="/productos" class="btn btn-warning btn-lg">Volver a productos</a>&nbsp;&nbsp;
          </div>
        </div>
        <div class="col">
          <div class="row">
            <a class="btn btn-success btn-lg" (click)="onCotizarProducto(producto)">Cotizar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" style="background:transparent url('https://i.picsum.photos/id/1028/5184/3456.jpg') no-repeat center center /cover">
      <p class="card-text">{{ producto.descripcion }}</p>
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4" *ngFor="let ima of producto.envaseimg" [ngClass]="ima">
          <div class="card">
            <img height="500" width="50px" src="{{ ima }}" class="card-img-top">
          </div>
        </div>
        <div class="col mb-4" *ngFor="let des of producto.envasedesc" [ngClass]="des">
          <div class="alert alert-success text-center" role="alert">
            <h2>{{ des }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{{ producto.nombre }}</h1>
    </div>
    <div class="card-body">
      <p class="card-text">{{ producto.descripcion }}</p>
      <div class="row">
        <div class="col-md-9">
          <img class="card-img-top" src="{{ producto.imgenvases }}">
        </div>
        <div class="col-md-3">
            <div class="card">
            <div class="card-header">
              Caja / Envase
            </div>
            <ul class="list-group list-group-flush" *ngFor="let des of producto.envasedesc" [ngClass]="des">
              <li class="list-group-item">{{ des }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-2">
           <a class="btn btn-primary btn-lg" (click)="onCotizarProducto(producto)">Cotizar</a>
        </div>
        <div class="col-md-3">
          <a class="btn btn-secondary btn-lg" href="/productos">Volver a productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>