<!-- <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <p>
                <mat-form-field>
                    <input type="text" 
                    matInput 
                    placeholder="Username" 
                    formControlName="email" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" 
                    matInput 
                    placeholder="Password" 
                    formControlName="password" />
                </mat-form-field>
            </p>
            <button type="submit" 
            mat-raised-button 
            color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card> -->

<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="form-group">
        <h1>Administración Coorporativa</h1>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">No comparta sus credenciales con nadie.</small>
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <button type="submit" class="btn btn-success">Ingresar</button>
  </form>