<div class="container">
    <form class="border-class" [formGroup]="cotProdForm" (ngSubmit)="guardarCotizacion(cotProdForm.value)">
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="card-header">
                    <h1 class="card-tittle">Cotizar producto</h1>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="nombre">Producto *</label><br>
                    <input class="form-control" disabled formControlName="nombre">
                    <div *ngIf="getformControl('nombre').invalid && (getformControl('nombre').dirty || getformControl('nombre').touched)">
                        <div class="container-error-message" *ngIf="getformControl('nombre').errors.required">
                            Campo requerido
                        </div>
                        <div class="container-error-message" *ngIf="getformControl('nombre').errors.minlength">
                            El nombre debe tener al menos 5 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="envase">Envase *</label>
                    <select formControlName="envasedesc" class="custom-select">
                        <option value="" disabled>Elija un envase</option>
                        <option *ngFor="let des of producto.envasedesc" [ngClass]="des"> {{ des }}</option>
                    </select>
                    <div *ngIf="getformControl('envasedesc').invalid && (getformControl('envasedesc').dirty || getformControl('envasedesc').touched)">
                        <div class="container-error-message" *ngIf="getformControl('envasedesc').errors.required">
                            Seleccione una de las opciones
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="cantidad">Cantidad *</label>
                    <input 
                    type="text" 
                    required  
                    class="form-control" 
                    id="cantidad" 
                    placeholder="Cantidad de cajas"
                    formControlName="cantidad" >
                    <div *ngIf="getformControl('cantidad').invalid && (getformControl('cantidad').dirty || getformControl('cantidad').touched)">
                        <div class="container-error-message" *ngIf="getformControl('cantidad').errors.required">
                            Campo requerido
                        </div>
                        <div class="container-error-message" *ngIf="getformControl('cantidad').errors.minlength">
                            La cantidad debe ser solo números
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="empresa">Empresa / Razon Social *</label>
                <input formControlName="razonsocial" type="text" class="form-control" id="empresa">
                <div *ngIf="getformControl('razonsocial').invalid && (getformControl('razonsocial').dirty || getformControl('razonsocial').touched)">
                    <div class="container-error-message" *ngIf="getformControl('razonsocial').errors.required">
                        Campo requerido
                    </div>
                    <div class="container-error-message" *ngIf="getformControl('razonsocial').errors.minlength">
                        El nombre debe tener al menos 5 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo electronico (e-mail)</label>
                <input formControlName="email" type="text" class="form-control" id="email">
                <div *ngIf="getformControl('email').invalid && (getformControl('email').dirty || getformControl('email').touched)">
                    <div class="container-error-message" *ngIf="getformControl('email').errors.required">
                        Campo requerido
                    </div>
                    <div class="container-error-message" *ngIf="getformControl('email').errors.minlength">
                        El email no tiene un formato corecto
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telf">Teléfono fijo / Celular *</label>
                    <input formControlName="telefono" type="text" class="form-control" id="telf">
                    <div *ngIf="getformControl('telefono').invalid && (getformControl('telefono').dirty || getformControl('telefono').touched)">
                        <div class="container-error-message" *ngIf="getformControl('telefono').errors.required">
                            Campo requerido
                        </div>
                        <div class="container-error-message" *ngIf="getformControl('telefono').errors.minlength">
                            El teléfono dede tener al menos 7 números
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="interno">Interno #</label>
                    <input formControlName="interno" type="text" class="form-control" id="interno">
                    <div *ngIf="getformControl('interno').invalid && (getformControl('interno').dirty || getformControl('interno').touched)">
                        <div class="container-error-message" *ngIf="getformControl('interno').errors.required">
                            Campo requerido
                        </div>
                        <div class="container-error-message" *ngIf="getformControl('interno').errors.minlength">
                            El teléfono dede tener al menos 7 números
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!--<a class="btn btn-outline-success" href="https://api.whatsapp.com/send?phone=59162068604&text=">Cotizar via WhatsApp</a>-->
                    <input type="submit" class="btn btn-success" value="Enviar cotización">
                </div>
                <div class="col-md-6">
                <a class="btn btn-danger" mat-raised-button matDialogClose>Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>