<img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/newheader.jpg?alt=media&token=38c9ec45-e309-4d93-9751-9243226b29c2"
class="img responsive">
<nav class="nabvar navbar-expand-md navbar-light bg-light sticky-top" style="margin: 1px;">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navlinks" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span> Menu
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navlinks" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ">
            <li class="nav-item text-center">
                <a routerLink="/home" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Fpagina%20inicio.png?alt=media&token=e4edac38-5833-4750-8e11-03251d82e3d8" 
                    style="width:30px;"><br>
                    Inicio
                </a>
            </li>
            <li class="nav-item text-center">
                <a routerLink="/nosotros" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Facerca%20de%20nosotros.png?alt=media&token=b98dbd19-54c3-403a-a976-dc16c77cf2e2"
                    style="width: 30px;"><br>
                    Nosotros
                </a>
            </li>
            <li class="nav-item text-center">
                <a routerLink="/productos" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Ffertilizer.png?alt=media&token=4b64b748-66d6-45de-9221-8ad92532638f"
                    style="width: 30px;"><br>
                    Productos
                </a>
            </li>
            <li class="nav-item text-center">
                <a ngbDropdown class="nav-link d-inline-block"  id="dropdownBasic1" ngbDropdownToggle>
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Fproductos%201%20(1).png?alt=media&token=fbd4a392-209e-4e33-b1d3-0c959c1e23d2"
                    style="width: 30px;"><br>
                    Servicios
                    <span class="caret"></span>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a routerLink="/servicios" class="dropdown-item" (click)="Colapsar()">Solicitar servicio</a>
                        <a routerLink="/envases" class="dropdown-item" (click)="Colapsar()">Material de embalaje</a>
                    </div>
                </a>
            </li>
            <li class="nav-item text-center">
                <a routerLink="/almacenaje" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Falmacenaje%202.png?alt=media&token=d9c81520-9307-4eda-93eb-8596e1dc7487"
                    style="width: 30px;"><br>
                    Almacenaje
                </a>
            </li>
            <li class="nav-item text-center">
                <a routerLink="/contacto" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Fcontact-us.png?alt=media&token=1bd2f333-1218-408f-b081-b17bb482f282"
                    style="width: 30px;"><br>
                    Contacto
                </a>
            </li>
            <li class="nav-item text-center" *ngIf="loginSvc.userData | async; else showLogin">
                <a routerLink="/admin" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Fadministracion%20de%20pagina%20(2).png?alt=media&token=42710115-e08b-47f4-b831-b4afd3ee8861"
                    style="width: 30px;"><br>
                    Admin
                </a>
            </li>
        </ul>
    </div>    
</nav>
<ng-template #showLogin>
    <li class="nav-item text-center">
        <a routerLink="/login" routerLinkActive="active" class="nav-link" (click)="Colapsar()">
            <img src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar%2Finiciar-sesion.png?alt=media&token=46e6a8e2-a77b-4b35-a781-1728a3b2e8f8"
            style="width: 30px;"><br>
            Login
        </a>
    </li>
</ng-template>