<mat-toolbar> 
    <mat-toolbar-row>
        <a mat-button routerLink="/" routerLinkActive="active">Home</a>&nbsp;
        <a mat-button routerLink="/nosotros" routerLinkActive="active">Nosotros</a>&nbsp;
        <a mat-button routerLink="/productos" routerLinkActive="active">Productos</a>&nbsp;
        <a mat-button routerLink="/servicios" routerLinkActive="active">Servicios</a>&nbsp;
        <a mat-button routerLink="/almacenaje" routerLinkActive="active">Almacenaje</a>&nbsp;
        <a mat-button routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </mat-toolbar-row>
</mat-toolbar>