mat-toolbar {
    color: black;
    border-radius: 8px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/ngblog-b12be.appspot.com/o/images%2FWhatsApp%20Image%202020-05-27%20at%2014.34.23.jpeg?alt=media&token=6e33f661-5a80-467a-a6d3-0f843fea59ce');
}

a{
    font-size: larger;
    background-color: rgba(253, 253, 253, 0.493);
}

a:hover {
    color: black;
    background-color: rgba(218, 165, 32, 0.596);
}

a:link {
    text-decoration: none;
}