nav {
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/toolbar.jpg?alt=media&token=557708ff-12a2-4741-89a1-8a3f0006d84a');
}

a{
    font-size: xx-large;    
    color: black;
    border-radius: 8px;
    background-color: rgba(253, 253, 253, 0.493);
}

a:hover {
    color: white;
    background-color: rgba(218, 165, 32, 0.596);
}

a:link {
    text-decoration: none;
}