<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/logo.png?alt=media&token=79a57efd-6953-4c72-8ec5-3e1c9207a6d3" 
        alt="" width="200" height="200">
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
      <div class="col-6 col-md">
        <strong>Mapa del sitio</strong>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" routerLink="/" routerLinkActive="active">Página principal</a></li>
          <li><a class="text-muted" routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
          <li><a class="text-muted" routerLink="/productos" routerLinkActive="active">Productos</a></li>
          <li><a class="text-muted" routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
          <li><a class="text-muted" routerLink="/almacenaje" routerLinkActive="active">Almacenaje</a></li>
          <li><a class="text-muted" routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
          <li><a class="text-muted" routerLink="/admin" routerLinkActive="active" *ngIf="loginSvc.userData | async">Admin</a></li>
          <li><a class="text-muted" routerLink="/" *ngIf="loginSvc.userData | async; else showLogin" (click)="onLogOut()">Cerrar sesión</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <strong>Ubicación</strong>
        <ul class="list-unstyled text-small">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.1536973733537!2d-63.16836713074473!3d-17.715648394864044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7109b3a2a81%3A0xd8e1b1865fb6ad62!2sTodo%20Agricola%20Boliviana%20Ltda!5e0!3m2!1ses!2sbo!4v1591629462479!5m2!1ses!2sbo" 
            width="250px" 
            height="200px" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="" 
            aria-hidden="false" 
            tabindex="0"></iframe>
        </ul>
      </div>
      <div class="col-6 col-md">
        <strong>Contacto</strong>
        <ul class="list-unstyled text-small">
          <li><p class="text-muted">Dirección: Av. 8vo anillo #8405</p></li>
          <li><p class="text-muted">Teléfono fijo: 3453007 - 3452843</p></li>
          <li><p class="text-muted">Celular: 76849399</p></li>
          <li><p class="text-muted">Correo electronico: </p><a href="mailto:info@tagribol.com">info@tagribol.com</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <ng-template #showLogin>
    <a class="text-muted" routerLinkActive="active" routerLink="/login" routerLinkActivate="active">Login</a>
  </ng-template>