<h1>Solicitudes de servicios</h1>
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej: fecha, empresa, producto">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha de Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha?.toDate() | date: 'medium'}} </td>
  </ng-container>
  <ng-container matColumnDef="nombreempresa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa / Razon social </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreempresa}} </td>
  </ng-container>
  <ng-container matColumnDef="nombreproducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreproducto}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button class="btn" color="accent" (click)="verServicio(element)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </td>
  </ng-container> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>