<div class="container">
    <div class="row">
        <img class="img" src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/nuestrosproductos1.png?alt=media&token=cb72be21-7c7d-44d0-af7d-1b4e4910d548">
    </div>
    <div class="row">
        <br>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4" *ngIf="productos$ | async as producto; else loading">
    <div class="col mb-4" *ngFor="let producto of producto">
        <mat-card class="example-card">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <mat-card-title>{{ producto.nombre }}</mat-card-title>
                    </div>
                    <div class="row">
                        <br><!--<mat-card-subtitle>{{ producto.categoria }}</mat-card-subtitle>-->
                    </div>
                </div>
                <div class="row">
                    <img mat-card-image src="{{ producto.imgurl }}">
                </div>
                <mat-card-actions>
                    <div class="row">
                        <button mat-button class="btn btn-success" [routerLink]="['/show-prod', producto.id]" >Ver producto</button>
                    </div>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>

<ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</ng-template>