<img class="img responsive" src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/nuestrosproductos1.png?alt=media&token=cb72be21-7c7d-44d0-af7d-1b4e4910d548">
<div class="row" *ngIf="productos$ | async as producto; else loading">
    <div style="display: flex;" class="col-sm-4" *ngFor="let producto of producto">
        <a [routerLink]="['/show-prod', producto.id]">
            <div class="card bkgr">
                <div class="image">
                    <img class="responsive-img" src="{{ producto.imgurl }}" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2 class="text-decoration-none">{{ producto.nombre }}</h2>
                        <h3>{{ producto.categoria }}</h3>
                    </div>
                    <div class="content">
                       
                    </div>
                </div>
            </div>   
        </a>
    </div>
</div>

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>