img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
  }
  
.div1 {
  background-color: white;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/crissxcross.png?alt=media&token=65e8aeb9-e8cd-455e-b1a7-f165e3b17fe0");
}

h1 {
  font-weight: bold;
}