<div class="container div1">
  <div class="row-fluid">
    <div class="col-md-12">
      <br>
      <div class="row div1">
        <p class="justify" style="font-size: 18px; line-height: 24px;">La empresa <b style="font-size: larger;">Todo Agrícola Boliviana Ldta.</b>, tiene como objetivo desarrollar una política de planificación, diseño y desarrollo asociado a nuestros principios básicos descritos en la visión de la empresa vanguardista y mirando hacia un mercado globalizado.</p>  
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <h1>Nuestra Visión</h1>
            <p class="text-justify" style="font-size: 18px; line-height: 24px;">
              Nuestra VISIÓN es ser el mejor proveedor de servicios de nuestros clientes.
              <br>
              Hoy en día nos hemos convertido en una empresa confiable en el medio; esta fortaleza constituye una base sólida edificada en más de 18 años de gestión y que hoy sirve de soporte y compromiso para ofrecer una nueva línea: DIVISION SERVICIOS & SERVICIOS DE ALMACENAJE.
              <br><br>
              La historia nos ha puesto en el camino, una oportunidad que no debemos desperdiciar. Escribiremos con nuestra decisión, trabajo y compromiso, un nuevo capítulo, del acercamiento a nuestros clientes, el de la eficiencia de nuestros procesos, el dinamismo en brindar un buen servicio ágil y moderno.
            </p>
          </div><br>
        </div>
        <div class="col-md-7">
          <div><br><br></div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/4oJqkaOklkg" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <h1>Nuestra Misión</h1>
        <p class="text-justify" style="font-size: 18px; line-height: 24px;">
          Hoy el mundo ha cambiado, es más agitado y vertiginoso, la tecnología ha hecho que las necesidades del mercado cambien, buscando servicios que satisfagan sus requerimientos siempre con la máxima calidad, así como con soluciones efectivas y rápidas.
          <br><br>
          Para satisfacer estas exigencias y distinguimos una vez más en este campo, debemos evolucionar y conducir un cambio que represente algo que otros no hayan visto desarrollado o simplemente no hagan tan bien como nosotros pretendemos hacerlo, esa es nuestra MISIÓN.
          Nuestro reto es convertirnos en una empresa prestadora de servicios ágil y dinámica, dicho reto nos ha llevado a definir nuestra VISIÓN.<br><br>
          Tanto nuestra Visión como nuestra Misión, son herramientas para comunicar y reforzar los valores de la empresa, facilitando el compromiso de los trabajadores y su sentimiento de pertenencia y contribuyen a la coherencia e integración de las acciones para mejorar nuestra productividad y ser cada vez más competitivos.
          <br><br>
          Debemos mantener la convicción de que solo mediante una planificación a largo plazo, se tendrá claro el panorama de hacia dónde se dirige la empresa, por que deseamos comprometer a todos en a la implementación de nuestra Visión.
        </p>
      </div>    
    </div>
  </div>
</div>