<div class="container">
    <div class="jumbotron">
      <img width="900px" height="400px" src="https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/header.jpg?alt=media&token=a8ff00d5-bd1e-4cf1-9674-f33be624b5fd" class="img-fluid"c>    <div class="row"><br><br></div>
      <h1 class="display-4">La Empresa</h1>
      <p class="lead">
        La empresa Todo Agrícola Boliviana Ldta., tiene como objetivo desarrollar una política de planificación, diseño y desarrollo asociado a nuestros principios básicos descritos en la visión de la empresa vanguardista y mirando hacia un mercado globalizado.
        <br><br>
        Nuestra VISIÓN es ser el mejor proveedor de servicios de nuestros clientes.
        <br><br>
        Hoy en día nos hemos convertido en una empresa confiable en el medio; esta fortaleza constituye una base sólida edificada en más de 18 años de gestión y que hoy sirve de soporte y compromiso para ofrecer una nueva línea: DIVISION SERVICIOS & SERVICIOS DE ALMACENAJE.
        <br><br>
        La historia nos ha puesto en el camino, una oportunidad que no debemos desperdiciar. Escribiremos con nuestra decisión, trabajo y compromiso, un nuevo capítulo, del acercamiento a nuestros clientes, el de la eficiencia de nuestros procesos, el dinamismo en brindar un buen servicio ágil y moderno.
        <br><br>
        Hoy el mundo ha cambiado, es más agitado y vertiginoso, la tecnología ha hecho que las necesidades del mercado cambien, buscando servicios que satisfagan sus requerimientos siempre con la máxima calidad, así como con soluciones efectivas y rápidas.
        <br><br>
        Para satisfacer estas exigencias y distinguimos una vez más en este campo, debemos evolucionar y conducir un cambio que represente algo que otros no hayan visto desarrollado o simplemente no hagan tan bien como nosotros pretendemos hacerlo, esa es nuestra MISIÓN.
        <br><br>
        Nuestro reto es convertirnos en una empresa prestadora de servicios ágil y dinámica, dicho reto nos ha llevado a definir nuestra VISIÓN.
        <br><br>
        Tanto nuestra Visión como nuestra Misión, son herramientas para comunicar y reforzar los valores de la empresa, facilitando el compromiso de los trabajadores y su sentimiento de pertenencia y contribuyen a la coherencia e integración de las acciones para mejorar nuestra productividad y ser cada vez más competitivos.
        <br><br>
        Debemos mantener la convicción de que solo mediante una planificación a largo plazo, se tendrá claro el panorama de hacia dónde se dirige la empresa, por que deseamos comprometer a todos en a la implementación de nuestra Visión.
      </p>
    </div>
  </div>