/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #87a87b;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tagribolwebapp-7b913.appspot.com/o/backgroundimage.png?alt=media&token=a57cbc65-2cff-451b-a970-82662e360523");
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';